body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex-grow: 1;
}

header{
  max-height: 10vh;
}

footer{
  max-height: 10vh;
}

#KOimg{
position: absolute;
offset: 5vh, 5vh;
opacity: 75%;
width: 50vw;
}
#character-image{
  max-height: 75%;
  max-width: 75%;
}
#battlefield{
  position: relative;
}
a:hover{
cursor: pointer
}